::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  color: white;

  font-family: Roboto;
  font-size: 1em;
}

h1 {
  text-transform: uppercase;

  color: #00458d;

  font-size: 6em;
  font-weight: 600;
}

p {
  margin-top: 2rem;

  font-size: 2em
}

label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  width: 100%;
  height: 100%;

  color: black;
  border: none;

  font-size: 1.2em;
  line-height: 2;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input[type=checkbox] {
  display: none;

  height: 100%;
  margin-left: auto;
}

span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  width: 0.5em;
  height: 100%;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  font-size: 2em;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

input[type=checkbox]:checked+span {
  -webkit-animation: slide-in-down ease-in-out 0.5s;
  animation: slide-in-down ease-in-out 0.5s;
}

.container {
  display: grid;
  overflow: hidden;

  width: 100vw;
  height: 100vh;
  padding: 3rem;

  color: rgb(31, 31, 31);

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6em;
}

.container__radarChart {
  width: 50vw;
}

.container__text {
  display: grid;

  height: 92vh;

  grid-template-rows: repeat(2, 1fr);
}

.bedrijven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;

  padding-right: 17px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bedrijven ul {
  overflow-y: scroll;

  width: 100%;
}

.bedrijven ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;

  height: 4em;

  -webkit-transition: all 0.1s ease-in-out;
  -webkit-animation: slide-in-right 0.8s ease-in-out;
          animation: slide-in-right 0.8s ease-in-out;

  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bedrijven ul li:hover{
  cursor:hand;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.04);
}

.bedrijven ul li label{
  padding-left: 1em;
}

.bedrijven ul li label:hover{
  cursor:hand;
  cursor: pointer;
}
.bedrijven ul li img {
  display: inline-block;
  float: left;
  overflow: hidden;

  width: auto;
  height: 90%;

  border-radius: 50%;
}

#myChart {
  width: auto;
  height: 100%;
}

.inactive{
  -webkit-animation: slide-out-down 1s;
          animation: slide-out-down 1s;
          visibility: hidden;
}



/*------------------Animation---------------------------*/

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100vw);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-out-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(0);
  }
}

@keyframes slide-out-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}
